<section class="form-auth text-center">
  <h2 class= "h3 mb-3 fw-normal">Editar Conta<%= resource_name.to_s.humanize %></h2>

  <%=  form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <!-- <img class="mb-4" src="" alt="" width="72" height="57"> --->

    <div class="form-floating">
      <%= f.text_field :first_name, autofocus: true, class: "form-control", id: "inputFirst_Name", placeholder: "First Name", autocomplete: "first_name" %>
      <label for="floatingInput">Nome</label>
    </div>

    <div class="form-floating">
      <%= f.text_field :last_name, autofocus: true, class: "form-control", id: "inputLast_Name", placeholder: "Last Name", autocomplete: "last_name" %>
      <label for="floatingInput">Sobrenome</label>
    </div>

    <div class="form-floating">
      <%= f.text_field :cpf, autofocus: true, class: "form-control", id: "inputCPF", placeholder: "CPF", autocomplete: "cpf" %>
      <label for="floatingInput">CPF</label>
    </div>

    <div class="form-floating">
      <%= f.date_field :birthday, autofocus: true, class: "form-control", id: "inputBirthday", placeholder: "CPF", autocomplete: "birthday" %>
      <label for="floatingInput">Data de Nascimento</label>
    </div>

    <div class="form-floating">
      <%= f.select :role, User.roles.keys, {}, {class: ["custom-select", "custom-select-sm", "form-control", "form-control-sm"]} %>
      <label for="floatingInput">Tipo</label>
    </div>

    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Email address", autocomplete: "email" %>
      <label for="floatingInput">Email</label>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control", id: "inputPassword" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <label for="floatingPassword">Nova Senha</label><i>(leave blank if you don't want to change it)</i><br />
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password_confirmation", class: "form-control", id: "inputPassword" %>
      <label for="floatingPassword">Confirme a Nova Senha</label>
    </div>

    <div class="form-floating">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Password_atual", class: "form-control", id: "inputPassword" %>
      <label for="floatingPassword">Senha Atual</label><i>(we need your current password to confirm your changes)</i><br />
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Mantenha-me conectado
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Atualizar</button>
  <% end %>

  <br><p>Infeliz? <%= button_to "Apagar Conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p><br>

  <p class="mt-5 mb-3 text-muted">© 2021–2022</p>
</section>