<div id="<%= dom_id reserva %>">
  <p>
    <strong>Quarto:</strong>
    <%= reserva.quarto.nome %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= reserva.cliente.nome %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= reserva.check_in %>
  </p>

  <p>
    <strong>Checkout:</strong>
    <%= reserva.checkout %>
  </p>

  <p>
    <strong>Numero adultos:</strong>
    <%= reserva.numero_adultos %>
  </p>

  <p>
    <strong>Numero criancas:</strong>
    <%= reserva.numero_criancas %>
  </p>

  <p>
    <strong>Pedidos:</strong>
    <%= reserva.pedidos %>
  </p>

</div>
