<div id="<%= dom_id quarto %>">
  <p>
    <strong>Nome:</strong>
    <%= quarto.nome %>
  </p>

  <p>
    <strong>Andar:</strong>
    <%= quarto.andar %>
  </p>

  <p>
    <strong>Diaria:</strong>
    <%= quarto.diaria %>
  </p>

  <p>
    <strong>Capacidade:</strong>
    <%= quarto.capacidade %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= quarto.descricao %>
  </p>

</div>
