<div>
  <table>
    <thead>
      <tr>
        <th>Quarto</th>
        <th>Cliente</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Nº Adultos</th>
        <th>Nº Crianças</th>
        <th>Pedidos</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <% @reservas_cliente.each do |r| %>
        <tr>
          <td><%= r.quarto_id %></td>
          <td><%= r.cliente_id %></td>
          <td><%= r.check_in %></td>
          <td><%= r.checkout %></td>
          <td><%= r.numero_adultos %></td>
          <td><%= r.numero_criancas %></td>
          <td><%= r.pedidos %></td>
          <td><%= link_to "Info", r %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>