<ul class="nav flex-column">
    <li class="nav-item">
        <%= link_to dashboard_index_path, class: "nav-link" do %>
        <i data-feather="clipboard"></i>
        Dashboard
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to new_room_path, class: "nav-link" do %>
        <i data-feather="home"></i>
        Cadastrar Quarto
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to edit_user_registration_path, class: "nav-link" do %>
        <i data-feather="user"></i>
        Minha Conta
        <% end %>
    </li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Saved reports</span>
    <i data-feather="plus-circle"></i>
</h6>

<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <%= link_to rooms_path, class: "nav-link" do %>
        <i data-feather="list"></i>
        Quartos Disponiveis
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to bookings_path, class: "nav-link" do %>
        <i data-feather="list"></i>
        Reservas Realizadas
        <% end %>
    </li>
</ul>
